body {
  background: #282c34;
  color: white;
  font: normal 12pt sans-serif;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

a {
  align-items: center;
  color: inherit;
  display: flex;
}

a img {
  margin-right: 1ex;
}
